.buttonTable {
  padding: 0px !important;
  width: 2rem !important;
  height: 2rem !important;
}

.accordionTab a {
  padding: 0.5rem 0.5rem !important;
}

.accordionTab > .p-accordion-content {
  padding: 0.5rem 0.5rem !important;
}

.inputSmall{
  padding: 0rem 0.5rem !important;
}

.dialog-responsive{
  width: 50vw;
}

@media (max-width: 480px) {
  .dialog-responsive{
    width: 90vw;
  }
}